$linear-purple: linear-gradient(60deg, #ff62b7 0%, #9f53ff 100%);
$linear-purple-hover: linear-gradient(90deg, #fc70bb 0%, #a45ef8 100%);
$menu-open: linear-gradient(90deg, #fc70bb 0%, #a45ef8 100%);

$purple-nav: #2c0958;
$purple-nav-hover: #9307ba;
$footer: #1b013d;
$btn-hover: #dedede;
$footer-color: #a6a6a6;

$text-main: #1d1e25;
$black: #1d1e25;
$white: #fffefe;
$grey-light: #f5f5f5;
$grey-border: #ced1d8;
$grey-text: #afb3bb;
$grey-text-2: #7e8492;
$grey: #7e8492;
$grey-dark: #323232;
$blue-primary: #1463ff;
$blue-dark: #161a34;
$green-medium: #46b277;

$line-grey: #a59c9c;

$shadow-1: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
$shadow-2: 3px 2px 15px 5px rgba(0, 0, 0, 0.15);
$shadow-3: 0.5px 0.5px 0px rgba(51, 51, 51, 0.35);
$shadow-4: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
$shadow-5: -7px 7px 10px 2px rgba(2, 41, 55, 0.2);

$radius-3: 3px;
$radius-4: 4px;
$radius-5: 5px;
$radius-8: 8px;
$radius-12: 12px;

.text-linear-purple {
  background-image: $linear-purple;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}
